@font-face {
  font-family: "Roboto Bold";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "C059";
  src: url("/fonts/C059/c059-bold.otf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "C059 Bold";
  src: url("/fonts/C059/c059-bold.otf");
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Mario";
  src: url("/fonts/Custom/SuperMario256.ttf");
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Rufing";
  src: url("/fonts/Custom/Rufing.otf");
  font-display: swap;
}

@font-face {
  font-family: "Smile";
  src: url("/fonts/Custom/smile.otf");
  font-display: swap;
}

.custom-background {
  background-color: #262626; 
}

.celebrate-animation {
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@font-face {
  font-family: 'Rufing2'; /* Replace with your font's name */
  src: url('/Rufing.woff2') format('woff2');
  /* Adjust the src path to the actual location of your font file */
  font-weight: normal;
  font-style: normal;
}

.transition {
  opacity: 1;
  transition: opacity 0.5s;
}

.fade-out {
  opacity: 0;
}
